<div class="card mb-3 bg-black border-1 border-secondary border-opacity-50 overflow-hidden">
	<header class="card-header border-bottom border-secondary d-flex justify-content-between align-items-center">
		<h5 class="text-light text-opacity-75 card-title mb-0">
			Stack Trace
		</h5>

		{% set idOfElementToCopy = 'stack_trace_line' %}
		{% include "@infra/DED/copy-to-clipboard.twig" with { idOfElementToCopy } %}
	</header>

	<ol class="list-group list-group-flush">
		{% for trace in _error.trace %}
			<li class="bg-black border-secondary text-light text-opacity-75 list-group-item d-flex align-items-md-center">
				<span class="badge bg-secondary me-2">{{ loop.index }}</span>
				
				{% if trace.where.file is defined %}
					<span class="{{ idOfElementToCopy }} text-monospace me-2">
						{{ trace.where.file }}:{{ trace.where.line }}
					</span>
				{% endif %}
				
				{% if trace.class is defined %}
					<span class="{{ idOfElementToCopy }}">
						{{ trace.class }}{{ trace.type }}{{ trace.function }}
					</span>
				{% else %}
					<span class="{{ idOfElementToCopy }}">{{ trace.function }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ol>
</div>
