<div class="stack-trace-card">
	<header class="card-header">
		<h5 class="card-title">
			Stack Trace
		</h5>

		{% set idOfElementToCopy = 'stack_trace_line' %}
		{% include "@infra/DED/copy-to-clipboard.twig" with { idOfElementToCopy } %}
	</header>

	<ol class="stack-trace-list">
		{% for trace in _error.trace %}
			<li class="stack-trace-item align-items-md-center">
				<span class="stack-trace-number">{{ loop.index }}</span>
				
				{% if trace.where.file is defined %}
					<span class="stack-trace-file {{ idOfElementToCopy }}">
						{{ trace.where.file }}:{{ trace.where.line }}
					</span>
				{% endif %}
				
				{% if trace.class is defined %}
					<span class="{{ idOfElementToCopy }}">
						{{ trace.class }}{{ trace.type }}{{ trace.function }}
					</span>
				{% else %}
					<span class="{{ idOfElementToCopy }}">{{ trace.function }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ol>
</div>
